@import url('https://fonts.googleapis.com/css2?family=Anton&family=Figtree:wght@300;900&family=Montserrat:wght@800&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
.App {
  position: relative;
  display: block;
  margin: auto;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  box-shadow: 37px 36px 62px 1px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 37px 36px 62px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 37px 36px 62px 1px rgba(0, 0, 0, 0.54);
}
h2 {
  position: absolute;
  left: -280px;
  top: 900px;
  z-index: 100;
  transform: rotate(90deg);
  font-size: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #002939;
  animation-name: texto3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

h3 {
  position: absolute;
  left: 200px;
  top: 1280px;
  z-index: 100;
  width: 700px;
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #002939;
}

h4 {
  position: absolute;
  left: 100px;
  top: 1480px;
  z-index: 100;
  width: 900px;
  text-justify: auto;
  font-size: 55px;
  font-family: 'Source Sans Pro', sans-serif;
  animation-name: texto;

  animation-duration: 5s;

  color: #ffffff;
}
.lugar {
  position: absolute;
  left: 360px;
  top: 1580px;
  z-index: 100;
  width: 700px;
  text-justify: auto;
  font-size: 50px;

  animation-name: texto2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  animation-duration: 5s;

  color: #ffffff;
}
h5 {
  position: absolute;
  right: 200px;
  bottom: -150px;
  z-index: 100;
  width: 100px;
  text-justify: auto;
  font-size: 100px;
  font-family: 'Figtree', sans-serif;
  color: #002939;
  font-weight: '900';
}
.fecha {
  width: 170px;
  height: 220px;
  position: absolute;
  top: 70px;
  right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 100px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='216.20579px' height='218.96898px' viewBox='0 0 116.20579 118.96897' version='1.1' id='svg5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1' transform='translate(-17.425043,-31.157864)'%3E%3Cg id='g12083' transform='translate(-55.199951)'%3E%3Cpath style='fill:%23eeeeee;stroke-width:0.264583' d='m 127.6135,148.33823 -48.683338,-0.13438 -1.322917,-0.69998 c -1.593046,-0.84291 -2.493817,-1.65002 -3.380106,-3.02866 -1.566084,-2.43607 -1.469166,0.97723 -1.56193,-55.008856 0.05044,-8.939259 -0.16862,-62.704511 0.05393,-32.411458 H 184.10838 l -0.0693,42.399478 -0.0693,42.399476 -0.60797,1.32292 c -0.8254,1.79604 -2.51356,3.48066 -4.39262,4.38342 l -1.56101,0.74997 1.82559,0.0935 c 1.40981,0.0722 1.28326,0.0907 -0.55566,0.0812 -1.30969,-0.007 -24.28875,-0.0727 -51.06458,-0.14662 z' id='path12097' /%3E%3Cpath style='fill:%23cccccc;stroke-width:0.264583' d='m 179.06812,147.3416 c 1.91361,-0.94297 3.59549,-2.62358 4.41912,-4.41574 l 0.60797,-1.32292 0.0693,-42.399475 0.0693,-42.399478 h 2.25051 2.2505 l -0.0709,42.399478 -0.0709,42.399475 -0.73302,1.49265 c -0.40316,0.82096 -1.27521,1.99243 -1.93789,2.60327 -1.77876,1.6396 -3.24009,2.19945 -6.06034,2.32175 l -2.38125,0.10327 z' id='path12095' /%3E%3Cpath style='fill:%23064055;fill-opacity:1;stroke-width:0.265731' d='m 72.606204,47.57648 2.11e-4,-9.458854 0.758766,-1.5875 c 0.818835,-1.713175 2.276341,-3.190697 4.099433,-4.155728 l 1.146287,-0.606772 h 52.042529 52.04253 l 1.20099,0.562724 c 1.73583,0.813327 3.38361,2.337798 4.21411,3.898719 l 0.72325,1.35939 0.079,9.723438 0.079,9.723437 H 130.79916 72.605994 Z m 45.675516,3.883172 c 0.56568,-0.286103 1.35892,-1.015157 1.76275,-1.620118 0.60121,-0.900667 0.73423,-1.394754 0.73423,-2.727348 0,-2.355819 -0.76195,-3.263482 -3.66795,-4.369413 -3.04894,-1.160331 -3.68047,-1.800213 -2.71822,-2.754165 0.52619,-0.521655 2.41092,-0.532393 3.31699,-0.0189 0.36697,0.207968 0.87568,0.382343 1.13048,0.387499 0.54445,0.01102 1.93693,-1.946602 1.67898,-2.360383 -0.38278,-0.614016 -2.47638,-1.411313 -4.0307,-1.535003 -2.56376,-0.20402 -4.63285,0.757754 -5.59392,2.600222 -0.63171,1.21108 -0.50527,3.395853 0.26127,4.514188 0.59585,0.869324 2.56497,2.07315 3.41508,2.087829 0.18509,0.0032 0.84694,0.2355 1.47079,0.516231 0.96517,0.434333 1.13425,0.627853 1.13425,1.298207 0,1.698119 -1.7136,2.108137 -4.00327,0.957876 -0.72418,-0.363801 -1.43645,-0.661458 -1.58282,-0.661458 -0.31751,0 -1.61981,1.840164 -1.61981,2.288798 0,0.465753 1.58074,1.349004 3.22434,1.801626 1.73228,0.477044 3.64351,0.324639 5.08753,-0.405688 z m 14.64023,-0.90661 v -1.455208 h -3.20261 -3.20262 v -1.719792 -1.719791 h 2.41591 2.41592 l -0.0807,-1.389063 -0.0807,-1.389062 -2.33523,-0.07645 -2.33525,-0.07645 v -1.568802 -1.568802 l 3.1359,-0.07454 3.13589,-0.07454 0.0807,-1.389063 0.0807,-1.389062 h -5.08475 -5.08477 v 7.672916 7.672917 h 5.07082 5.0708 z m 5.81477,-1.124479 0.0768,-2.447396 h 1.33967 c 3.30618,0 5.53537,-1.372159 6.26357,-3.855482 0.38033,-1.297003 0.38146,-1.571511 0.0117,-2.832597 -0.23039,-0.785689 -0.73474,-1.705279 -1.15319,-2.102631 -1.36243,-1.293719 -2.37553,-1.528039 -6.60662,-1.528039 h -3.87841 v 7.496527 c 0,4.123091 0.085,7.580779 0.18886,7.683753 0.10388,0.102974 0.97459,0.152584 1.93492,0.110243 l 1.74605,-0.07698 z m 0.0567,-7.574007 v -2.281722 h 1.42135 c 1.75155,0 2.58194,0.698084 2.58194,2.170554 0,1.479356 -0.70543,2.121764 -2.49107,2.268567 l -1.51222,0.124323 z m -44.676502,4.491611 c 0.743885,-0.737473 0.907405,-1.099836 0.907405,-2.010833 0,-0.910996 -0.16352,-1.273359 -0.907405,-2.010833 -0.499073,-0.494771 -1.051527,-0.899583 -1.227676,-0.899583 -0.176139,0 -0.728593,0.404812 -1.227667,0.899583 -0.701903,0.695852 -0.907405,1.119238 -0.907405,1.869477 0,1.128838 0.366632,1.941349 1.165491,2.582869 0.814584,0.654149 1.174064,0.583689 2.197257,-0.43068 z m 72.859552,0 c 0.74388,-0.737473 0.9074,-1.099836 0.9074,-2.010833 0,-0.910996 -0.16352,-1.273359 -0.9074,-2.010833 -0.49909,-0.494771 -1.05153,-0.899583 -1.22768,-0.899583 -0.17614,0 -0.72859,0.404812 -1.22767,0.899583 -0.74388,0.737474 -0.9074,1.099837 -0.9074,2.010833 0,0.910997 0.16352,1.27336 0.9074,2.010833 0.49908,0.494771 1.05153,0.899584 1.22767,0.899584 0.17615,0 0.72859,-0.404813 1.22768,-0.899584 z' id='path12198' /%3E%3Cpath style='fill:%23040404;stroke-width:0.264583' d='m 102.09184,123.14559 c -1.81426,-0.16482 -5.474373,-0.87899 -7.408334,-1.44552 -1.898841,-0.55625 -6.55972,-2.71986 -6.998765,-3.24888 -0.160693,-0.19362 0.486432,-1.68895 1.879112,-4.34211 1.94438,-3.7042 2.16141,-4.01317 2.5636,-3.64957 0.813753,0.73567 4.920377,2.5426 7.053974,3.10377 2.853093,0.75042 7.802333,0.82932 9.998953,0.15941 3.74959,-1.14352 5.6451,-4.78664 4.09011,-7.86105 -1.26557,-2.50218 -3.84539,-3.43304 -9.51444,-3.43304 h -3.64858 v -3.586256 -3.58627 l 1.6337,-1.90384 c 0.89853,-1.04711 1.95697,-2.26102 2.35208,-2.69758 3.80652,-4.20586 5.41909,-6.03142 5.48471,-6.20916 0.0428,-0.11587 -3.58863,-0.16451 -8.06979,-0.1081 -4.481173,0.0564 -8.951253,0.0303 -9.933518,-0.0581 l -1.785938,-0.16066 v -4.20648 -4.20648 h 16.404166 16.40417 v 3.4409 3.44091 l -1.76977,2.0492 c -0.97337,1.12706 -2.20978,2.52545 -2.74758,3.10753 -1.29078,1.39706 -4.71533,5.29712 -5.4834,6.24477 l -0.60804,0.75021 0.74033,0.16401 c 7.41069,1.64172 11.43743,5.846546 11.89414,12.420176 0.4801,6.91023 -4.1821,12.92834 -11.5626,14.92536 -3.38045,0.91469 -7.27051,1.23276 -10.96829,0.89683 z m 43.98794,-0.23299 c -10.47843,-1.89474 -16.71517,-11.47564 -16.26208,-24.981906 0.20316,-6.05616 1.42599,-10.52429 3.92207,-14.33102 2.47714,-3.77782 5.61268,-6.23446 9.81538,-7.69017 2.32826,-0.80645 2.65932,-0.85122 6.29399,-0.85122 3.64558,0 3.96052,0.043 6.33017,0.86335 4.20282,1.45505 7.84987,4.39137 10.05199,8.09308 1.29845,2.18265 2.6651,5.999 3.13579,8.7566 0.55315,3.24077 0.54095,9.614846 -0.0244,12.751586 -1.72771,9.5858 -7.53872,15.94165 -15.90973,17.40143 -2.79169,0.48683 -4.61202,0.48393 -7.35317,-0.0117 z m 7.08201,-9.46604 c 1.72845,-0.80489 3.64117,-2.94079 4.36936,-4.87919 2.38188,-6.34043 1.81329,-16.555206 -1.17398,-21.090686 -2.12533,-3.22682 -6.49703,-4.42577 -9.90303,-2.71594 -3.90199,1.95882 -5.72347,6.53982 -5.71,14.36057 0.0113,6.579196 1.01734,10.069026 3.66516,12.714376 1.84173,1.84001 2.65766,2.17074 5.43984,2.20498 1.56043,0.0192 2.26814,-0.10771 3.31265,-0.59411 z' id='path12085' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-image: url("data:image/svg+xml,%0A%3Csvg width='46.20579mm' height='48.96899mm' viewBox='0 0 116.20579 118.96898' version='1.1' id='svg5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1' transform='translate(-17.425043,-31.157864)'%3E%3Cg id='g12083' transform='translate(-55.199951)'%3E%3Cpath style='fill:%23eeeeee;stroke-width:0.264583' d='m 127.6135,148.33823 -48.683338,-0.13438 -1.322917,-0.69998 c -1.593046,-0.84291 -2.493817,-1.65002 -3.380106,-3.02866 -1.566084,-2.43607 -1.469166,0.97723 -1.56193,-55.008856 0.05044,-8.939259 -0.16862,-62.704511 0.05393,-32.411458 H 184.10838 l -0.0693,42.399478 -0.0693,42.399476 -0.60797,1.32292 c -0.8254,1.79604 -2.51356,3.48066 -4.39262,4.38342 l -1.56101,0.74997 1.82559,0.0935 c 1.40981,0.0722 1.28326,0.0907 -0.55566,0.0812 -1.30969,-0.007 -24.28875,-0.0727 -51.06458,-0.14662 z' id='path12097' /%3E%3Cpath style='fill:%23cccccc;stroke-width:0.264583' d='m 179.06812,147.3416 c 1.91361,-0.94297 3.59549,-2.62358 4.41912,-4.41574 l 0.60797,-1.32292 0.0693,-42.399475 0.0693,-42.399478 h 2.25051 2.2505 l -0.0709,42.399478 -0.0709,42.399475 -0.73302,1.49265 c -0.40316,0.82096 -1.27521,1.99243 -1.93789,2.60327 -1.77876,1.6396 -3.24009,2.19945 -6.06034,2.32175 l -2.38125,0.10327 z' id='path12095' /%3E%3Cpath style='fill:%23064055;fill-opacity:1;stroke-width:0.265731' d='m 72.606204,47.57648 2.11e-4,-9.458854 0.758766,-1.5875 c 0.818835,-1.713175 2.276341,-3.190697 4.099433,-4.155728 l 1.146287,-0.606772 h 52.042529 52.04253 l 1.20099,0.562724 c 1.73583,0.813327 3.38361,2.337798 4.21411,3.898719 l 0.72325,1.35939 0.079,9.723438 0.079,9.723437 H 130.79916 72.605994 Z m 45.675516,3.883172 c 0.56568,-0.286103 1.35892,-1.015157 1.76275,-1.620118 0.60121,-0.900667 0.73423,-1.394754 0.73423,-2.727348 0,-2.355819 -0.76195,-3.263482 -3.66795,-4.369413 -3.04894,-1.160331 -3.68047,-1.800213 -2.71822,-2.754165 0.52619,-0.521655 2.41092,-0.532393 3.31699,-0.0189 0.36697,0.207968 0.87568,0.382343 1.13048,0.387499 0.54445,0.01102 1.93693,-1.946602 1.67898,-2.360383 -0.38278,-0.614016 -2.47638,-1.411313 -4.0307,-1.535003 -2.56376,-0.20402 -4.63285,0.757754 -5.59392,2.600222 -0.63171,1.21108 -0.50527,3.395853 0.26127,4.514188 0.59585,0.869324 2.56497,2.07315 3.41508,2.087829 0.18509,0.0032 0.84694,0.2355 1.47079,0.516231 0.96517,0.434333 1.13425,0.627853 1.13425,1.298207 0,1.698119 -1.7136,2.108137 -4.00327,0.957876 -0.72418,-0.363801 -1.43645,-0.661458 -1.58282,-0.661458 -0.31751,0 -1.61981,1.840164 -1.61981,2.288798 0,0.465753 1.58074,1.349004 3.22434,1.801626 1.73228,0.477044 3.64351,0.324639 5.08753,-0.405688 z m 14.64023,-0.90661 v -1.455208 h -3.20261 -3.20262 v -1.719792 -1.719791 h 2.41591 2.41592 l -0.0807,-1.389063 -0.0807,-1.389062 -2.33523,-0.07645 -2.33525,-0.07645 v -1.568802 -1.568802 l 3.1359,-0.07454 3.13589,-0.07454 0.0807,-1.389063 0.0807,-1.389062 h -5.08475 -5.08477 v 7.672916 7.672917 h 5.07082 5.0708 z m 5.81477,-1.124479 0.0768,-2.447396 h 1.33967 c 3.30618,0 5.53537,-1.372159 6.26357,-3.855482 0.38033,-1.297003 0.38146,-1.571511 0.0117,-2.832597 -0.23039,-0.785689 -0.73474,-1.705279 -1.15319,-2.102631 -1.36243,-1.293719 -2.37553,-1.528039 -6.60662,-1.528039 h -3.87841 v 7.496527 c 0,4.123091 0.085,7.580779 0.18886,7.683753 0.10388,0.102974 0.97459,0.152584 1.93492,0.110243 l 1.74605,-0.07698 z m 0.0567,-7.574007 v -2.281722 h 1.42135 c 1.75155,0 2.58194,0.698084 2.58194,2.170554 0,1.479356 -0.70543,2.121764 -2.49107,2.268567 l -1.51222,0.124323 z m -44.676502,4.491611 c 0.743885,-0.737473 0.907405,-1.099836 0.907405,-2.010833 0,-0.910996 -0.16352,-1.273359 -0.907405,-2.010833 -0.499073,-0.494771 -1.051527,-0.899583 -1.227676,-0.899583 -0.176139,0 -0.728593,0.404812 -1.227667,0.899583 -0.701903,0.695852 -0.907405,1.119238 -0.907405,1.869477 0,1.128838 0.366632,1.941349 1.165491,2.582869 0.814584,0.654149 1.174064,0.583689 2.197257,-0.43068 z m 72.859552,0 c 0.74388,-0.737473 0.9074,-1.099836 0.9074,-2.010833 0,-0.910996 -0.16352,-1.273359 -0.9074,-2.010833 -0.49909,-0.494771 -1.05153,-0.899583 -1.22768,-0.899583 -0.17614,0 -0.72859,0.404812 -1.22767,0.899583 -0.74388,0.737474 -0.9074,1.099837 -0.9074,2.010833 0,0.910997 0.16352,1.27336 0.9074,2.010833 0.49908,0.494771 1.05153,0.899584 1.22767,0.899584 0.17615,0 0.72859,-0.404813 1.22768,-0.899584 z' id='path12198' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: fecha;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fecha {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes texto {
  0% {
    opacity: 0;
    top: 1800px;
    left: 600px;
  }
  100% {
    left: 100px;
    top: 1480px;
    opacity: 1;
  }
}

@keyframes texto2 {
  0% {
    opacity: 0;
    top: 1800px;
    left: 600px;
  }
  100% {
    left: 360px;
    top: 1580px;
    opacity: 1;
  }
}

@keyframes texto3 {
  0% {
    filter: blur(100px);
  }
  100% {
  }
}
.imagen {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 30px;
  left: 20px;
  z-index: 20;
}

.imagen2 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -200px;
  left: 20px;
  z-index: 20;
}
.wap {
  width: 70px;
  margin-right: 20px;
}
.wapa {
  position: relative;
  width: 60px;
  margin-right: 20px;
  top: 20px;
}
